<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/admin-home.css">
        <link rel="stylesheet" href="/css/admin-panel.css">
        <link rel="stylesheet" href="/css/admin-panel-products.css">
        <link rel="stylesheet" href="/css/admin-panel-administrators.css">
        <title>admin</title>
    </head>
    <body>
        <div id="container">
            <div id="top-bar">
                <img src="/img/logo.png" alt="acesso-nerd-logo">
                <div id="bar-nav">
                    <div id="profile">
                        <img id="img-profile" src="/img/profile-pic.svg" alt="profile-pic">
                    </div>
                    <button id="btn-logout">Logout</button>
                </div>
            </div>

            <div id="wrapper"> 
                <ul id="menu">
                    <% if(panel ==='administrators' || panel === 'administrator-details' || panel === 'administrator-create') { %> 
                        <a href="/admin/administrators"><li id='administrator-menu' class='selected-menu'><img class="menu-icon" src="/img/admin-users.png" alt=""><span class="selected-menu-span">Administradores</span></li></a>
                    <% } else { %>
                        <a href="/admin/administrators"><li id='administrator-menu'><img class="menu-icon" src="/img/admin-users.png" alt=""><span class="menu-span">Administradores</span></li></a>
                    <% } %> 
                        <li id='customer-menu'><img class="menu-icon" src="/img/admin-customers.png" alt=""><span class="menu-span">Clientes</span></li>
                    <% if(panel ==='products' || panel === 'product-details' || panel === 'product-create') { %> 
                        <a href="/admin/products"><li id='product-menu' class='selected-menu'><img class="menu-icon" src="/img/admin-products.png" alt=""><span class="selected-menu-span">Produtos</span></li></a>
                    <% } else { %> 
                        <a href="/admin/products"><li id='product-menu'><img class="menu-icon" src="/img/admin-products.png" alt=""><span class="menu-span">Produtos</span></li></a>
                    <% } %> 
                    <li id='order-menu'><img class="menu-icon" src="/img/admin-orders.png" alt=""><span class="menu-span">Pedidos</span></li>
                    <li id='payment-menu'><img class="menu-icon" src="/img/admin-payments.png" alt=""><span class="menu-span">Pagamentos</span></li>
                    <li id='contact-menu'><img class="menu-icon" src="/img/admin-contact-us.png" alt=""><span class="menu-span">Central de Ajuda</span></li>
                    <li id='about-menu'><img class="menu-icon" src="/img/admin-about.png" alt=""><span class="menu-span">Sobre Acesso Nerd</span></li>
                </ul>
                
                <section id="display-area">
                    <% if(panel === 'products') {%> 
                        <%- include('./partials/_admin-products') %> 
                    <% } else if(panel === 'product-details') {%> 
                        <%- include('./partials/_admin-product-details') %> 
                    <% } else if(panel === 'product-create') {%> 
                        <%- include('./partials/_admin-product-create') %> 
                    <% } else if(panel === 'administrators') {%> 
                        <%- include('./partials/_admin-administrators') %> 
                    <% } else if(panel === 'administrator-details') {%> 
                        <%- include('./partials/_admin-administrator-details') %> 
                    <% }  else if(panel === 'administrator-create') {%> 
                        <%- include('./partials/_admin-administrator-create') %> 
                    <% } %> 
                </section>
            </div>
        </div>
        <script src="/js/admin-home.js"></script>
    </body>
</html>
