<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/change-password.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap" rel="stylesheet">
    <title>Acesso-Nerd Redefinir Senha</title>
</head>
<body id="fp-body">
    <div id="fp-wrapper">
        <header>
            <img id='logo-img' src="/img/logo.png" alt="logo">
        </header>
        <form action="/change-password" method="POST">    
            <div id="al-container">
                <div class="orientation">
                    <h1>Redefinição de Senha</h1>
                    <label for="email">Insira o endereço de e-mail associado à sua conta Acesso Nerd</label>
                </div>
                <div class="input-grp">
                    <input type="text" id="email" name="email" placeholder="digite seu email" 
                    value = '<%= locals.old && old.email %>' required>    
                </div>
                <div class="input-grp">
                    <input type="text" id="security-key" name="secretkey" placeholder="digite a chave de segurança"
                    value = '<%= locals.old && old.secretkey %>' required>
                </div>
                <div class="input-grp">
                    <input type="text" id="password" name="password" placeholder="digite a nova senha" 
                    value = '<%= locals.old && old.password %>' required>    
                </div>
                <div class="input-grp">
                    <input type="text" id="confirm-password" name="confirmpassword" placeholder="digite novamente a nova senha" 
                    alue = '<%= locals.old && old.confirmpassword %>' required>    
                </div>
                <div id="msgErro">
                    <% if ( responseStatus.msg ) { %>
                        <p><%= responseStatus.msg %></p>
                    <% } else if (locals.errors ) { %>
                        <% if (errors.email) { %>               
                            <p><%= errors.email.msg %></p>
                        <% } else if (errors.secretkey) { %>               
                            <p><%= errors.secretkey.msg %></p>
                        <% } else if (errors.password) { %>               
                            <p><%= errors.password.msg %></p>
                        <% } else if (errors.confirmpassword) { %>               
                            <p><%= errors.confirmpassword.msg %></p>
                        <% } %>
                    <% } %>
                </div>
                <div id="btn">
                    <button type="submit">Redefinir Senha</button>
                </div>  
            </div>
        </form>
    </div>
</body>