<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('./partials/_head') %> 

    <body>

        <div id="container-pai">
            <%- include('./partials/_header')  %> 

            <section id="conteudo-body">
                <%- include('./partials/_home-banner') %>
                <%- include('./partials/_products') %>
            </section>

        </div> <!-- end container-pai-->
        <%- include('./partials/_footer') %>
    </body>
</html>