<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('./partials/_head') %> 

    <body>
        <div class="container-pai">
            <div class="header-banner">
                <%- include('./partials/_header')  %> 
                <%- include('./partials/_home-banner') %>
            </div>

            <div class="conteudo-body">
                <%- include('./partials/_products') %>
            </div>
            
        </div> <!-- end container-pai-->
        <div class="home-footer">
            <%- include('./partials/_footer') %> 
        </div>

    </body>
</html>