<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('./partials/_head') %> 

    <body>
        <div class="container-pai">
            <div class="header-banner">
                <%- include('./partials/_header')  %> 
                <%- include('./partials/_home-banner') %>
            </div>

            <div class="conteudo-body">
<<<<<<< HEAD
                <%- include('./partials/_product-area') %> 
                <!--CHAMAR PARTIAL _PRODUCTS-->
=======
                <%- include('./partials/_products') %>
>>>>>>> 792fe38f52f227b1727cf6ad3f7c1dba8452f466
            </div>
            
        </div> <!-- end container-pai-->
        <div class="home-footer">
            <%- include('./partials/_footer') %> 
        </div>

    </body>
</html>