<!DOCTYPE html>
<html lang="pt-BR">

    <%- include('./partials/_head') %> 

    <body>

        <div id="container-pai">
            <%- include('./partials/_header')  %> 

            <section id="conteudo-body">
                <%- include('./partials/_home-banner') %>




                <div class="products-container">
                    <div class="products-cards">
                        <% productList.forEach(product => {%> 
                            <div class="product-card">
                                <img class="product-img" src="<%= product.imgPath %>" alt="imagem <%= product.description %>">
                                <span class="product-id"><%= product.id %> - <span class="description"><%= product.description %> </span></span>
                                <div class="installment">
                                    <span class="installment-parts"><%= product.installmentParts %>x <span class="installment-price"><%= product.installmentPrice %> à vista</span></span>
                                </div>
                                <div class="at-sight">
                                    <span class="or">ou <span class="at-sight-price"><%= product.atSightPrice %></span></span>
                                </div> 
                            </div>
                        <%}); %> 
                        </div>
                    </div>
                </div>
            </section>

        </div> <!-- end container-pai-->
        <%- include('./partials/_footer') %>
    </body>
</html>