<div id="panel-wrapper">
    <div id="panel-bar">
        <div id="div-title">
            <span>Administradores</span>
            <div id="panel-div-add">
                <img src="/img/add-icon.png" alt="add" onclick="window.location.replace('/admin/user/create');">
            </div>
        </div>
        
        <div id="panel-filters">
            <form action="" id="filter-form-panel">
                <div id="obj-filters">

                    <span>Id:</span>
                    <input class="ffp-input" type="text" name="administrator-id" id="administrator-id">

                    <span>Usuário:</span>
                    <input class="ffp-input" type="text" name="administrator-user" id="administrator-user">

                    <span>Name:</span>
                    <input class="ffp-input" type="text" name="administrator-name" id="administrator-name">
                </div>
                <div>
                    <button>Filtrar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="grid-panel">
        <table>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Name</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Status</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
            </tr>
            <% if(administratorList) {%>
                <% administratorList.forEach((administrator)=> {%>
                    <tr onclick="window.location.replace('/admin/administrator/edit/<%= administrator.id %>');">
                        <td><%=administrator.id %> </td>
                        <td><%=administrator.user %> </td>
                        <td><%=administrator.name %></td>
                        <td><%=administrator.cpf %></td>
                        <td><%=administrator.email %></td>
                        <td><%=administrator.status %></td>
                        <td><%=administrator.createdAt %></td>
                        <td><%=administrator.updatedAt %></td>
                    </tr>
                <%}) %> 
                <% } %> 
            </tr>
        </table>
    </div>
</div>
