<div id="panel-wrapper">
    <div id="panel-bar">
        <div id="div-title">
            <span>Administradores</span>
            <div id="panel-div-add">
                <img src="/img/add-icon.png" alt="add" onclick="window.location.replace('/admin/administrator');">
            </div>
        </div>
        
        <div id="panel-filters">
            <form action="" id="filter-form-panel">
                <div id="obj-filters">
                    <span>Id:</span>
                    <input class="ffp-input" type="text" name="administrator-id" id="administrator-id">

                    <span>Usuário:</span>
                    <input class="ffp-input" type="text" name="administrator-user" id="administrator-user">

                    <span>Name:</span>
                    <input class="ffp-input" type="text" name="administrator-name" id="administrator-name">
                </div>
                <div>
                    <button>Filtrar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="grid-panel">
        <table id='administrators-table'>
            <tr>
                <th>Foto</th>
                <th>Id</th>
                <th>Usuario</th>
                <th>Name</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Status</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
            </tr>
            <% if(administratorList) {%>
                <% administratorList.forEach((administrator)=> {%>
                    <tr onclick="window.location.replace('/admin/administrators/<%= administrator.admin_id %>');">
                        <% if( administrator.imgPath ) { %>
                            <td><div class="img-row-cell"><img class="img-row-pic" src="<%= administrator.imgPath %>" alt="profile-pic"></div></td>
                        <% } else { %>
                            <td><div class="img-row-cell"><img class="img-row-pic" src="/img/placeHolderProfileImage.jpg" alt="profile-pic"></div></td>
                        <% } %> 
                        <td><%=administrator.admin_id %> </td>
                        <td><%=administrator.user %> </td>
                        <td><%=administrator.name %></td>
                        <td><%=administrator.cpf %></td>
                        <td><%=administrator.email %></td>
                        <% if (administrator.status == 'A') {%>
                            <td>Ativo</td>
                        <% } else { %>
                            <td>Inativo</td>
                        <% } %> 
                        <td><%=administrator.createdAt %></td>
                        <td><%=administrator.updatedAt %></td>
                    </tr>
                <%}) %> 
            <% } else {%> 
                <div class="notFound">Não há resultados para sua pesquisa</div>
            <% } %> 
            </tr>
        </table>
    </div>
</div>
