<div id="panel-wrapper">
    <div id="panel-bar">
        <div id="div-title">
            <span>Produtos</span>
            <div id="panel-div-add">
                <img src="/img/add-icon.png" alt="add" onclick="window.location.replace('/admin/product');">
            </div>
        </div>
        
        <div id="panel-filters">
            <form action="" id="filter-form-panel">
                <div id="obj-filters">

                    <span>Código:</span>
                    <input class="ffp-input" type="text" name="product-id" id="product-id">

                    <span>Produto:</span>
                    <input class="ffp-input" type="text" name="product-name" id="product-name">

                    <span>Categorias:</span>
                    <select class="ffp-select" id="types">
                        <!--<optgroup label="agrupador">-->
                            <option value="canecas">Escolha uma categoria</option>
                            <option value="canecas">CANECAS</option>
                            <option value="camisetas">CAMISETAS</option>
                            <option value="gadgets">GADGETS</option>
                        <!--</optgroup>-->
                    </select>
                </div>
                <div>
                    <button>Filtrar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="grid-panel">
        <table>
            <tr>
                <th>Imagem</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Qtd. Parcelas</th>
                <th>Valor Parcelas</th>
                <th>Preço à Vista</th>
                </tr>
                <% productList.forEach((product)=> {%>
                    <tr onclick="window.location.replace('/admin/products/<%= product.product_id %>');">
                        <% if( product.imgPath != null ) { %>
                            <td><div class="img-row-cell"><img class="img-row-pic" src="<%=product.imgPath %>" alt="product-pic"></div></td>
                        <% } else { %>
                            <td><div class="img-row-cell"><img class="img-row-pic" src="/img/products/placeHolderProductImage.jpg" alt="product-pic"></div></td>
                        <% } %> 
                            <td><%=product.product_id %> </td>
                            <td><%=product.name %> </td>
                            <td><%=product.category %> </td>
                            <td><%=product.description %></td>
                            <td><%=product.installment_parts %></td>
                            <td><%=product.installment_price %></td>
                            <td><%=product.price %></td>
                    </tr>
                <%}) %> 
            </tr>
        </table>
    </div>
</div>
