<form id="product-form" method="POST" action="/admin/product/<%= product.id %>/edit?_method=PUT" enctype="multipart/form-data" >
    <div id="form-product-container">
        <section id="product-pics-section">
            <div id="grp-product-main-image">
                <img id="product-image1" src="<%= product.imgPath %>" alt="product-img">
                <div>
                    <input type="file" name="inp-product-pic" accept="image/*">
                </div>
                <div id="product-images">
                    <img id="product-image2" src="<%= product.imgPath %>" alt="product-img">
                    <img id="product-image3" src="<%= product.imgPath %>" alt="product-img">
                    <img id="product-image4" src="<%= product.imgPath %>" alt="product-img">
                </div>
            </div>
        </section>
        <section id="product-info-section">
            <div id="gr-product-description">
                <div id="div-product-description">
                    <span>Descrição:</span>
                </div>
                    <input class="entriesProduct" name="description" type="text" value="<%= product.description %>" required>
            </div>
            <div id="gr-product-prices">
                <div id="gr-product-installmentParts">
                    <div id="div-product-installmentParts">
                        <span>Qtd. Parcelas:</span>
                    </div>
                        <input id="inp-installmentParts" class="entriesProduct" name="installmentParts" type="number" value="<%= product.installmentParts %>" required>
                </div>
                <div id="gr-product-installmentPrice">
                    <div id="div-product-installmentPrice">
                        <span>Valor Parcela:</span>
                    </div>
                        <input id="inp-installmentPrice" class="entriesProduct" name="installmentPrice" type="text" value="<%= product.installmentPrice %>" required>
                </div>
                <div id="gr-product-atSightPrice">
                    <div id="div-product-atSightPrice">
                        <span>Preço de Venda à Vista:</span>
                    </div>
                        <input id="inp-atSightPrice" class="entriesProduct" name="atSightPrice" type="text" value="<%= product.atSightPrice %>" required>
                </div>
            </div>
        </section>
    </div>
</form>

