<!--pdp product details panel-->
<form id="pdp-form" method="POST" action="/admin/product/<%= product.id %>/edit?_method=PUT" enctype="multipart/form-data" >
    <div id="pdp-container">
        <section id="pdp-section-pics">
            <div id="pdp-grp-main-image">
                <% product.images.every((image, index)=> { %>
                    <% if(image.imgType === 'M') {%> 
                        <img id="pdp-image1" src="<%= image.imgPath %>" alt="product-img">
                    <% return false; %>
                    <% } %>
                    <% return true; %> 
                <%}) %> 
            </div>
            <div id="pdp-images">
                <% product.images.forEach((image, index)=> {%>
                    <% if(image.imgType === 'S') {%> 
                    <img class="pdp-thumb-images" id="pdp-img-<%= index %>" src="<%= image.imgPath %>" alt="product-img">
                    <% } %> 
                <%}) %> 
            </div>
            <div id="pdp-div-input-pics">
                <label for="pdp-inp-pics" id="pdp-btn-upload" class="pdp-buttons">Upload imagens</label>
                <input id="pdp-inp-pics" type="file" name="pdp-inp-pics" accept="image/*" multiple max=4>
            </div>
        </section>
        <section id="pdp-section-info">
            <div id="pdp-status">
                <p id="pdp-p-status"><%= product.status %> </p>
                <div id="pdp-div-switch">
                    <label class="pdp-switch">
                        <% if(product.status === 'Ativo') {%> 
                            <input id="pdp-inp-switch" type="checkbox" checked>
                        <% } else { %>
                            <input id="pdp-inp-switch" type="checkbox">
                        <% } %> 
                        <span class="pdp-slider pdp-round"></span>
                    </label>
                </div>
            </div>

            <div class="pdp-div-groups">
                <div id="pdp-div-description">
                    <div class="pdp-div-titles">
                        <span>Descrição</span>
                    </div>
                    <input id="pdp-inp-description" class="pdp-inputs" name="description" type="text" value="<%= product.description %>" required>
                </div>
            </div>
            <div class="pdp-div-groups">
                <div id="pdp-div-category">
                    <div class="pdp-div-titles">
                        <span>Categoria</span>
                    </div>
                    <select id="pdp-select-category" class="pdp-selects">
                        <!--<optgroup label="agrupador">-->
                            <option value="canecas">Escolha um grupo</option>
                            <option value="canecas">CANECAS</option>
                            <option value="camisetas">CAMISETAS</option>
                            <option value="gadgets">GADGETS</option>
                        <!--</optgroup>-->
                    </select>
                </div>
            </div>
            <div class="pdp-div-titles">
                <span>Preços</span>
            </div>
            <div id="pdp-grp-prices">
                <section id="pdp-section-installment">
                    <div class="pdp-div-subtitles">
                        <span>Valor Parcelado</span>
                    </div>

                    <div class="pdp-prices-values pdp-div-groups">
                        <div id="pdp-div-installmentParts">
                            <input id="pdp-inp-installmentParts" class="pdp-inputs pdp-payment-parts" name="pdp-installmentParts" type="number" value="<%= product.installmentParts %>" required>
                        </div>

                        <div class="pdp-x">X</div>

                        <div id="pdp-div-installmentPrice">
                            <input id="pdp-inp-installmentPrice" class="pdp-inputs pdp-payment-prices" name="installmentPrice" type="text" value="<%= product.installmentPrice %>" required>
                        </div>
                    </div>

                </section>
                <section id="pdp-section-atSight">
                    <div class="pdp-div-subtitles">
                        <span>Valor à Vista</span>
                    </div>

                    <div class="pdp-prices-values pdp-div-groups">
                        <div id="pdp-div-atSightParts">
                            <input id="pdp-inp-atSightParts" class="pdp-inputs pdp-payment-parts" name="pdp-atSightParts" type="number" value="01" readonly>
                        </div>

                        <div class="pdp-x">X</div>

                        <div id="pdp-div-atSightPrice">
                            <input id="pdp-inp-atSightPrice" class="pdp-inputs pdp-payment-prices" name="pdp-atSightPrice" type="text" value="<%= product.atSightPrice %>" required>
                        </div>
                    </div>
                </section>
            </div>

            <div id="pdp-grp-buttons">
                <div>
                    <button id="pdp-button-save" class="pdp-buttons">Salvar</button>
                    <button id="pdp-button-cancel" class="pdp-buttons">Cancelar</button>
                </div>
            </div>

        </section>
    </div>
</form>
<script>
    document.querySelector('#pdp-inp-switch').addEventListener('change', (evento)=>{
        if (document.getElementById('pdp-inp-switch').checked) {
            document.getElementById('pdp-p-status').innerText = "Ativo"
        } else {
            document.getElementById('pdp-p-status').innerText = "Inativo"
        }
    });
</script>