<form id="product-form" method="POST" action="/admin/product/<%= product.id %>/edit?_method=PUT" enctype="multipart/form-data" >
    <div id="form-product-container">
        <div class="productPic">
            <img src="<%= product.imgPath %>" alt="product-pic">
            <div>
                <input type="file" name="productPic" accept="image/*">
            </div>
        </div>
        <div class="product-description">
            <div id="div-product-description">
                <span>Description:</span>
            </div>
                <input class="entriesProduct" name="description" type="text" value="<%= product.description %>" required>
        </div>
        <div class="product-installmentParts">
            <div id="div-product-installmentParts">
                <span>Description:</span>
            </div>
                <input class="entriesProduct" name="installmentParts" type="text" value="<%= product.installmentParts %>" required>
        </div>
        <div class="product-installmentPrice">
            <div id="div-product-installmentPrice">
                <span>Description:</span>
            </div>
                <input class="entriesProduct" name="installmentPrice" type="text" value="<%= product.installmentPrice %>" required>
        </div>
        <div class="product-atSightPrice">
            <div id="div-product-atSightPrice">
                <span>Description:</span>
            </div>
                <input class="entriesProduct" name="atSightPrice" type="text" value="<%= product.atSightPrice %>" required>
        </div>
    </div>
</form>

