<div class="menu-products-container">
    <div class="menu-container">
        <div class="sub-nav">

        </div>
    </div>
    <div class="products-container">
        <div class="products-cards">
            <% productList.forEach(product => {%> 
                <div class="product-card">
                    <div class="products-buy-like">
                        <img class="shopping-bag" src="/img/shopping-bag.png" alt="buy-it">
                        <img class="like" src="/img/like.svg" alt="like-it">
                    </div>
                    <div class="product-img">
                        <img src="<%= product.imgPath %>" alt="imagem <%= product.description %>">
                    </div>
                    <div class="product-description">
                        <span><%= product.description %></span>    
                    </div>

                    <div class="payment-conditions">
                        <div class="installment">
                            <span class="installment-parts"><%= product.installmentParts %>x </span>
                            <span class="installment-price"><%= product.installmentPrice %></span>
                        </div>
                        <div class="at-sight">
                            <span class="or">ou</span>
                            <span class="at-sight-price"> <%= product.atSightPrice %> à vista</span>
                        </div> 
                    </div>
                </div>
            <%}); %> 
            </div>
        </div>
    </div>
</div>
