<div class="menu-products-container">
    <div class="menu-container">
        <div class="sub-nav">

        </div>
    </div>
    <div class="products-container">
        <div class="products-cards">
            <% productList.forEach((product, index)=> {%>
                <div class="product-card" onclick="showProductDetails('<%= product.id %>')">
                    <div class="products-buy-like">
                        <img class="shopping-bag" id="bag-<%= index %> " src="/img/shopping-bag2.png" alt="buy-it" title="Adicionar ao Carrinho"
                            onclick="addToBag(this.id)">
                        <img class="like" id="like-<%= index %> " src="/img/like.svg" alt="like-it" title="Favoritos"
                            onclick="likeIt(this.id)">
                    </div>
                    <div class="product-img">
                        <img src="<%= product.imgPath %>" alt="imagem <%= product.description %>">
                    </div>
                    <div class="product-description">
                        <span>
                            <%= product.description %>
                        </span>
                    </div>

                    <div class="payment-conditions">
                        <div class="card-installment">
                            <span class="card-installment-parts">
                                <%= product.installmentParts %>x
                            </span>
                            <span class="card-installment-price"> R$ <%= product.installmentPrice %></span>
                        </div>
                        <div class="card-at-sight">
                            <span class="card-or">ou</span>
                            <span class="card-at-sight-price">
                                <%= product.atSightPrice %> à vista
                            </span>
                        </div>
                    </div>
                </div>
                <%}); %>
        </div>
    </div>
</div>
<script src="/js/products.js"></script>