<div class="product-body ">
    <div class="product-wrapper-outer-box">
        <div class="product-wrapper-inner-box">
            <div class="like">
                <img src="/img/like.svg" alt="like it" title="Favoritos">
            </div>
            <div class="product-container">
                <div class="product-images">
                    <div class="product-main-pic">
                        <img src="<%= product.imgPath %> " alt="product-main-pic">
                    </div>
                    <div class="product-miniature-pic">
                        <img src="<%= product.imgPath %>" alt="">
                        <img src="<%= product.imgPath %>" alt="">
                        <img src="<%= product.imgPath %>" alt="">
                        <img src="<%= product.imgPath %>" alt="">
                    </div>
                </div>
                <div class="product-details">
                    <div class="product-header">
                        <span><%= product.description %></span>
                    </div>
                    <div class="product-sizes">
                        <div class="size-box">EP</div>
                        <div class="size-box">P</div>
                        <div class="size-box size-available">M</div>
                        <div class="size-box">G</div>
                        <div class="size-box">GG</div>
                    </div>
                    <div class="product-description">
                        <p>                   
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and.
                        </p>
                    </div>
                    <div class="product-price">
                        <div class="installment">
                            <span class="installment-parts">5x</span>
                            <span class="installment-price">R$ 10,18</span>
                        </div>
                        <div class="at-sight">
                            <span class="or">ou</span>
                            <span class="at-sight-price">R$ 50,90 à vista</span>
                        </div>
                    </div>
    
                    <div class="shipping-buy">
                        <div class="shipping">
                            <div class="cep-entry">
                                <label for="cep">CEP:</label>
                                <input type="text">
                            </div>
                            <button>calcular frete</button>
                        </div>
                        <div class="buy">
                            <button class="btn-add-to-kart">adicionar ao carrinho</button>
                            <button class="btn-buy">COMPRAR</button>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
